@use "../utils/" as u;

.modal {
   &--selection {
      display: grid;
      gap: 2.5rem;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto;
      grid-template-areas:
         "head close"
         "mid mid"
         "option option";
      p {
         grid-area: mid;
      }
      button {
         grid-area: close;
         width: 3rem;
         display: grid;
         place-items: center;
      }
      form {
         grid-area: option;
         display: grid;
         gap: 2.5rem;
      }
      .pledge {
         &__info {
            display: grid;
            align-items: center;
            gap: 2rem;
            row-gap: 0;
            grid-template-columns: 2rem 1fr;
            grid-template-rows: auto;
            grid-template-areas:
               "check title"
               "check value"
               "desc desc"
               "stock stock";
            @include u.breakpoint(screen-mid) {
               grid-template-columns: auto auto 1fr auto;
               grid-template-areas:
                  "check title value stock"
                  ". desc desc desc";
            }
            input[type="radio"] {
               grid-area: check;
               justify-self: center;
            }
            .label {
               grid-area: title;
            }
            .price {
               grid-area: value;
            }
            .desc {
               grid-area: desc;
            }
            .amount {
               grid-area: stock;
            }
         }

         &__confirm {
            display: grid;
            gap: 1rem;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
               "top top"
               "left right";
            @include u.breakpoint(screen-mid) {
               grid-template-columns: 1fr auto auto;
               grid-template-areas: "top top left right";
            }
            @include u.breakpoint-down(screen-xsm) {
               grid-template-areas:
                  "top top"
                  "left left"
                  "right right";
            }
            .sign {
               grid-area: left;
               justify-self: start;
            }
            p {
               grid-area: top;
               @include u.breakpoint-down(screen-mid) {
                  justify-self: center;
               }
            }
            input {
               grid-area: left;
               justify-self: center;
            }
            button {
               grid-area: right;
               justify-self: center;
            }
         }
      }
   }

   &--success {
      gap: 2.5rem;
      display: grid;
      padding-block: 4rem;
      @include u.breakpoint(screen-sm) {
         padding: 4rem;
      }
      place-items: center;
      max-width: 50rem;
      button {
         padding: 1rem 3rem;
         border-radius: 5rem;
      }
   }
}
