
.main{
    display: grid;
    grid-template-rows: 1fr auto auto;
    
    &__article{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        .article__heading {
            padding-inline: 2rem;
        }
        .learn{
            align-self: center;
        }
    }

    &__gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .service {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p{
            margin-bottom: 5rem;
        }
    }

    &__testimonials{
        display: grid;
        gap: 7rem;
    }
    
    .testimonial__card {
        display: grid;
        place-items: center;
    }
}