* {
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

body {
    background: linear-gradient(180deg, rgba(242, 201, 76, 0.2) 0%, rgba(242, 153, 74, 0.2) 100%);
    width: 100%;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* This is for the navigation looking part at the top*/

nav {
    align-items: center;
    width: 60vw;
    max-width: 600px;
    min-width: 400px;
    margin: auto;
}

h3 {
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    color: #4E598C;
    margin: 1em auto;
}

.nav-links ul {
    padding: 0;
    display: flex;
    justify-content: space-between;

}

.nav-links li {
    display: inline;
    list-style: none;

}

.nav-links .active {
    position: relative;
}

.nav-links .active::after {
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: #F2994A;
    border-radius: 50px;
    left: 0;
    top: 150%;
    content: "";
}

.nav-links a {
    text-decoration: none;
    color: gray;
    font-weight: 600;
}

.nav-links a:hover {
    color: #F2994A;
}


/* For the main form */
form {
    width: 60vw;
    max-width: 600px;
    min-width: 400px;
    margin: 0 auto;
    padding-bottom: 2em;
}


fieldset {
    border: none;
    padding: 2rem 0;
    margin-top: 20px;
}

label {
    display: block;
    margin: 0.5rem 0;
    font-weight: 700;
    font-size: 0.8em;
    padding: 0.5rem;

}

span {
    color: red;
}

p {
    color: grey;
    font-size: 10px;
}

input,
select {

    width: 100%;
    min-height: 3.5em;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 1em;
    padding-right: 1em;
}

/* for placing the last two input elements side by side*/
.inline {
    display: flex;
    flex-direction: row;
}

/*i have no idea why this works */
.inline :nth-of-type(1) {
    flex-basis: 60%;
}

.inline :nth-of-type(2) {
    flex-basis: 20%;
}

.inline :nth-of-type(3) {
    flex-basis: 20%;
}


/* lbuttons at the page bottom */
#submit {
    width: 30%;
    border-radius: 10px;
    background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
    color: #FFF;
    cursor: pointer;
}

.cancel {
    text-decoration: none;
    color: gray;
    margin: 2rem;
}