:root {
	//  Primary
	--Light-Cyan: hsl(193 38% 86%);
	--Neon-Green: hsl(150 100% 66%);

	//  Neutral
	--Dark-Blue: hsl(218 23% 16%);
	--Grayish-Blue: hsl(217 19% 38%);
	--Dark-Grayish-Blue: hsl(217 19% 24%);
}
