@use "../utils" as u;

body {
   background-color: hsl(var(--Gray));
   min-height: 100vh;
}
#root {
   display: grid;
   min-height: 100vh;
   position: relative;
   grid-template-rows: auto 1fr;
}
button {
   border: 0;
   padding: 0;
   background-color: transparent;
   cursor: pointer;
   white-space: nowrap;
   transition: background 250ms ease;
}

.header {
   height: clamp(30rem, 30rem + 2vw, 100%);
   background-image: url("../assets/images/image-hero-mobile.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   padding-inline: 1.8rem;
   padding-block: 2.6rem;
   @include u.breakpoint(screen-lg){
      padding-top: 3.5rem;
   }

   @include u.breakpoint(screen-sm) {
      background-size: contain;
      background-image: url("../assets/images/image-hero-desktop.jpg");
      height: clamp(40rem, 40rem + 2vw, 100%);
   }
}

.main {
   min-height: 100%;
   position: absolute;
   inset: 40vh 0 0 0;
   width: calc(100% - 4rem);
   margin-inline: auto;
   margin-bottom: 1rem;

   @include u.breakpoint(screen-sm) {
      width: clamp(40vw, 73rem, 100%);
      inset: 34vh 0 0 0;
   }
   .hero {
      &__btn--back {
         padding: 1.7rem 3.5rem;
         border-radius: 3.5rem;
      }
      &__btn--bookmark {
         border-radius: 3rem;
         display: flex;
         align-items: center;
         
         span {
            padding-inline: 2rem;
            @include u.breakpoint-down(screen-ssm) {
               display: none;
            }
         }
      }
   }
   .dashboard {
      justify-items: center;
      padding-block: 4rem;
      &__progress-bar {
         width: calc(100% - 6rem);
         height: 1.3rem;
         border: 0;
         border-radius: 2rem;

         &::-webkit-progress-value {
            background-color: hsl(var(--Moderate-cyan));
            border-radius: 1rem;
         }
         &::-moz-progress-bar {
            background-color: hsl(var(--Moderate-cyan));
            border-radius: 1rem;
         }
         &::-webkit-progress-bar {
            border-radius: 1rem;
         }
      }
      .rule {
         background: hsl(var(--Light-gray));
         height: 0.1rem;
         width: clamp(4rem, 10rem, 50%);
         @include u.breakpoint(screen-mid) {
            transform: rotate(90deg);
            position: absolute;
            width: 10%;
            &:nth-of-type(1) {
               left: 30%;
               bottom: 60%;
            }
            &:nth-of-type(2) {
               left: 60%;
               bottom: 60%;
            }
         }
      }
   }

   .project {
      padding: clamp(2rem, 1rem + 2vw, 5rem);
      &__item {
         border-radius: 0.8rem;
         padding: clamp(2rem, 1rem + 2vw, 5rem);
         border: solid 0.1rem hsl(var(--Light-gray));

         &:last-of-type {
            opacity: 0.7;
            pointer-events: none;
         }
      }
      .item-btn {
         padding: 1.5rem 3rem;
         border-radius: 3rem;
         width: fit-content;
      }
      .out {
         background-color: hsl(var(--Dark-gray));
         pointer-events: none;
      }
      .item__amount {
         display: flex;
         align-items: center;
         gap: 0.8rem;
      }
   }
   
}
