.error {
	display: grid;
	min-height: 100vh;
	text-align: center;
	place-items: center;
	background-size: cover;
	font-family: var(--ff-barlow);
	background-position: bottom center;
	background-color: hsl(var(--clr-dark));
	background-image: url(../assets/crew/background-crew-mobile.jpg);
	@media (min-width: 29.6878em) {
		background-image: url(../assets/crew/background-crew-tablet.jpg);
	}
	@media (min-width: 51.255em) {
		background-image: url(../assets/crew/background-crew-desktop.jpg);
	}
	@media (min-width: 29.6878em) {
		background-position: center center;
	}
}

.error__heading {
	font-size: var(--fs-700);
	color: hsl(var(--clr-white));
	font-weight: var(--fw-regular);
	font-family: var(--ff-barlow-cond);

	&--small {
		display: block;
		font-size: var(--fs-600);
		text-transform: uppercase;
		letter-spacing: var(--ls-1);
		color: hsl(var(--clr-light));
	}
}

.error > div {
	padding: 2rem;
	& * {
		margin-top: 1rem;
	}
}

.error > img {
	justify-self: center;
	margin-top: 2rem;
	@media screen and (max-width: 768px) {
		max-width: 60%;
	}
}

.error p {
	color: hsl(var(--clr-white));
	font-size: var(--fs-400);
	display: grid;
	place-items: center;
}
.home-btn {
	border: 0;
	display: block;
	cursor: pointer;
	border-radius: 5px;
	transition: 300ms ease;
	color: hsl(var(--clr-dark));
	background: hsl(var(--clr-light));

	&:hover {
		color: hsl(var(--clr-dark));
		background: hsl(var(--clr-light) / .6);
	}
}
