
:root {font-size: 62.5%;}

body {
    line-height: 1.5;
    min-height: 100vh;
    font-size: x-large;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
    background-color: rgb(231, 201, 164);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 5rem;
}
*{
    box-sizing: border-box;
}
h2{
    margin: 0;
    padding: 0;
    display: block;
    
}

.wrap {
    text-align: center;
    padding: 1rem;
}
/* .wrap:nth-child(1) {
    background-color: hotpink;
}
.wrap:nth-child(2) {
    background-color: firebrick;
}
.wrap:nth-child(3) {
    background-color: greenyellow;
}
.wrap:nth-child(4) {
    background-color: teal;
}
.wrap:nth-child(5) {
    background-color: salmon;
}
.wrap:nth-child(6) {
    background-color: gold;
}
.wrap:nth-child(7) {
    background-color: hotpink;
}
.wrap:nth-child(8) {
    background-color: firebrick;
}
.wrap:nth-child(9) {
    background-color: gold;
}
.wrap:nth-child(10) {
    background-color: violet;
}
.wrap:nth-child(11) {
    background-color: orangered;
}
.wrap:nth-child(12) {
    background-color: brown;
} */





.container{
    display: grid;
    height: 90vh;
    grid-gap: 1rem;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows: 8rem auto 8rem;
    border: .1rem solid black; 
    
}
.header{
    background-color: aquamarine;
}
.menu{
    background-color: orangered;   
}
.content{
    background-color: rgb(226, 41, 171);  
}
.footer{
    padding: 1rem;
    background-color: rgb(60, 33, 184);
    
}


.header{
    grid-column: 1 / -1;
}
.menu{
    grid-column: 1 / 2;
}
.content{
    grid-column: 2 / -1;
}
.footer{
    grid-column: 1 / -1;
}