:root {
    font-size: 62.5%;

    /* ------------ THEME 1 ------------  */
    --Theme1-BG: 222 26% 31%; 
    --Theme1-Keypad: 223 31% 20%; 
    --Theme1-Screen: 224 36% 15%; 

    /* ----- Keys ----- */
    --Key1-bg: 30 25% 89%;  
    --Key1-shadow: 28 16% 65%;  
    --Key1-shared: 225 21% 49%;  
    --Key1-shared-shadow: 224 28% 35%;  
    --Key1-equal: 6 63% 50%;  
    --Key1-equal-shadow: 6 70% 34%;  
    
    /* ----- Text ----- */ 
    --Key1-text: 221 14% 31%;
    --White: 0 0% 100%;
    

    /* ------------ THEME 2 ------------ */
    --Theme2-BG: 0 0% 90%;    
    --Theme2-Keypad: 0 5% 81%;      
    --Theme2-Screen: 0 0% 93%;   
    
    /* ----- Keys ----- */
    --Key2-BG: 185 42% 37%;  /* Key BG*/
    --Key2-shadow: 185 58% 25%;  /* Key Shadow */
    --Toggle-2: 25 98% 40%;   /* Key & Toggle BG */
    --Key2-shared-shadow: 25 99% 27%;  /* key2 shared shadow */
    --Key2-sahred: 45 7% 89%;  /* Key BG*/
    --Key2-equal: 35 11% 61%;  /* theme 2 equals BG*/
    
    /* ----- Text ----- */
    --Dark-gray-yellow: 60 10% 19%;
    --White: 0 0% 100%;


    /* ------------ THEME 3 ------------ */
    --Theme3-BG: 268 75% 9%; /* main BG*/
    --Theme3-Screen: 268 71% 12%;  /* Toggle, Keypad & Screen BG */  
   
    /* ----- Keys ----- */
    --Dark-violet: 281 89% 26%;  /* Key BG*/
    --Vivid-magenta: 285 91% 52%;   /* Key Shadow */
    --Pure-cyan: 176 100% 44%;  /* Key & Toggle BG */
    --Soft-cyan: 177 92% 70%;  /* key shadow */
    --Very-dark: 268 47% 21%;  /* Key BG*/
    --Dark-magenta: 290 70% 36%;  /* Key Shadow*/
    
    /* ----- Text ----- */
    --Light-yellow: 52 100% 62%;
    --Very-dark-blue: 198 20% 13%;
    --White: 0 0% 100%;
    

    /* Font families */
    --ff-epilogue: 'Epilogue', sans-serif;
    --ff-Outfit: 'Outfit', sans-serif;
    --ff-Poppins: 'Poppins', sans-serif;
    --ff-Ubuntu: 'Ubuntu', sans-serif;
    --ff-barlow: 'Barlow Semi Condensed', sans-serif;
    --ff-Inter: 'Inter', sans-serif;
    --ff-league: 'League Spartan', sans-serif;


    /* Font weights / sizes */
    --fw-700: 700;

    --fs-300: 0.75rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.75rem;
    --fs-700: 2.25rem;
}


/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 700;
}

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }

   /* A elements that don't have a class get default styles */
   a:not([class]) {
    text-decoration-skip-ink: auto;
  }

/* make images easier to work with */
picture,
img {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}


/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
    font-size: 1.6rem;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
    font-weight: var(--fw-700);
    font-family: var(--ff-league);
    background: hsl(var(--Theme1-BG));
}

h2,
h3 {
  font-weight: var(--fw-700);
}

/* Utility Classes */
.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
    
}
.txt-center{
    text-align: center;
}
.flex {
    display: flex;
    gap: 1rem;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-right {
    align-self: flex-end;
}
.grid {
    display: grid;
    gap: var(--gap, 1rem);
}
.flow > *:where(:not(:first-child)) {
    margin-top:  1em;
}
.block{
    display: block;
}
.hidden{
    display: none;
}

/* typography */
.ff-epilogue {font-family: var(--ff-epilogue);}
.ff-ubuntu {font-family: var(--ff-Ubuntu);}
.ff-poppins {font-family: var(--ff-Poppins);}
.ff-outfit {font-family: var(--ff-Outfit);}
.ff-Inter {font-family: var(--ff-Inter);}
.ff-league {font-family: var(--ff-league);}

.seven{font-weight: 700;}


/* ------------ Main ------------ */
body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}
.calculator { 
    gap: 2rem;
    display: grid;
    margin-inline: auto;
    width: clamp(35rem, 90%, 50rem);
}
.hud {
    display: flex; 
    font-size: 1.2rem;
    align-items: flex-end;
    color: hsl(var(--White));
    justify-content: space-between;
}
.app-name {
    font-size: 2.8rem;
    line-height: 1;
}
.toggle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        '.  one'
        'three four'
    ;
}
.theme {
    letter-spacing: .2ch;
    grid-area: three;
    padding-top: .2rem;
}
.switch {
    grid-area: four;  
}
.theme-labels {
    display: flex;
    justify-content: space-around;
    grid-area: one;
}



/* ----- Theme toggle button -----  */
.switch {
    position: relative;
    display: inline-block;
    width: 7rem;
    height: 2.4rem;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(var(--Theme1-Keypad) );
    transition: .2s;
}
.slider::before {
    position: absolute;
    content: '';
    height: 1.4rem;
    width: 1.4rem;
    top: 23%;
    left: 8%;
    background-color: hsl(var(--Key1-equal));
    transition: 200ms;
}
input:checked + .slider {
    background: hsl(var(--Theme2-Keypad));
}
input:checked + .slider::before {
    transform: translateX(150%);
    background: hsl(var(--Toggle-2));
}
.slider {
    border-radius: 2.5rem;
}
.slider::before{
    border-radius: 50%;
}


/* ---------- Screen ---------- */
.screen{
    display: grid;
    grid-template-areas: 
        'operand operand'
        'operator result'
    ;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: end;
    height: 12rem;
    padding: 1rem;
    border-radius: 1rem;
    color: hsl(var(--White));
    background-color: hsl(var(--Theme1-Screen));
    word-break: break-all;
}
.operator{
    grid-area: operator;
    font-size: 3.6rem;
    padding-top: 1rem;
}
.previous-operand{
   font-size: 2.2rem;
   grid-area: operand;
   font-weight: 700;
}
.current-operand{
    line-height: 1;
    font-size: 3.8rem;
    grid-area: result;
    margin-top: auto;
}




/* ---------- Keypad and keys ---------- */
.keypad{
    display: grid;
    gap: 2rem;
    padding: 2.5rem;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 1rem;
    background-color: hsl(var(--Theme1-Keypad));

}
.key{
    border-radius: 1rem;
    border: none;
    outline: transparent;
    cursor: pointer;
    color: hsl(var(--Key1-text));
    background: hsl(var(--Key1-bg));
    box-shadow: 0 .4rem 0 0 hsl(var(--Key1-shadow));
    transition: all 100ms linear;
    font-size: 2.5rem;
    padding-inline: 1rem;
    padding-top: .5rem;
    text-align: center;
    /* height: 6rem; */
}
.num-key{
    font-size: 3.2rem;
}
.num-key:hover{
    background: hsl(var(--White));  
}
.key:active{
    box-shadow: none;
    transform: translateY(.4rem);
    transition: all 100ms ease-in;
}
.shared{
    box-shadow: 0 .4rem 0 0 hsl(var(--Key1-shared-shadow));
}
.operator-key{
    font-weight: 700;
    font-size: 3.6rem;
}
.equal{
    background-color: hsl(var(--Key1-equal));
    box-shadow: 0 .4rem 0 0 hsl(var(--Key1-equal-shadow));
}
.large-key{
    grid-column: span 2;
    color: hsl(var(--White) );
    padding: 1.2rem;
}
.shared{
    background: hsl(var(--Key1-shared));
    color: hsl(var(--White) );
}




/* ---------- Footer ---------- */
.attribution {
    font-size: 1.3rem; 
    text-align: center;
    color: hsl(var(--White));
    font-weight: 500;
}
.attribution a {
    text-decoration: none;
    color: hsl(var(--Key1-equal));
    font-weight: 700; 
}
.attribution a:hover {
    color: hsl(var(--Lime-Green)); 
}
@media(max-width: 75rem) {
    .attribution{
        display: none;
    }
}



@media(max-width: 55rem){
    .calculator{
        height: 80vh;
        width: clamp(35rem, 70vw, 100%);
        grid-template-rows: 5rem 12rem auto;
    } 
}

@media(max-width: 37.5rem){
    .calculator{
        height: 85vh;
        width: clamp(35rem, 90vw, 100%);
        grid-template-rows: auto 12rem 1fr;
    }
    .key{
        border-radius: .6rem;
        padding-inline: 0;
        padding-block: .5rem;
    }

    .keypad{
        padding: 2rem;
        gap: 1.5rem;
    }
}