@use '../utils/' as u;
// Root styles //
#app {
	display: grid;
	line-height: 1.5;
	min-height: 100vh;
	overflow-x: hidden;
	background-size: cover;
	font-size: var(--fs-400);
	color: hsl(var(--clr-white));
	font-family: var(--ff-barlow);
	transition: background 300ms ease;
	background-position: bottom center;
	grid-template-rows: min-content 1fr;
	background-color: hsl(var(--clr-dark));

	@media (min-width: 29.6878em) {
		background-position: center center;
	}
}

button {
	cursor: pointer;
}
// .destination__image{
// 	animation: spin  360s linear infinite;
// }
.main {
	display: grid;
	text-align: center;
	place-items: center;
	padding-inline: 1rem;
	padding-bottom: 4rem;
}

.numbered-title {
	@include u.breakpoint(screen-sm) {
		justify-self: start;
	}
}

// page specific //
.home {
	background: url(../assets/home/background-home-mobile.jpg);

	@media (min-width: 29.6878em) {
		background-image: url(../assets/home/background-home-tablet.jpg);
	}
	@media (min-width: 51.255em) {
		background-image: url(../assets/home/background-home-desktop.jpg);
	}
}

.destination {
	background-image: url(../assets/destination/background-destination-mobile.jpg);
	
	@media (min-width: 29.6878em) {
		background-image: url(../assets/destination/background-destination-tablet.jpg);
	}
	@media (min-width: 51.255em) {
		background-image: url(../assets/destination/background-destination-desktop.jpg);
	}
}

.crew {
	background-image: url(../assets/crew/background-crew-mobile.jpg);

	@media (min-width: 29.6878em) {
		background-image: url(../assets/crew/background-crew-tablet.jpg);
	}
	@media (min-width: 51.255em) {
		background-image: url(../assets/crew/background-crew-desktop.jpg);
	}

	.crew-btn {
		border: 0;
		padding: 0.5em;
		cursor: pointer;
		border-radius: 50%;
		transition: ease-in-out 0.3s;
		background-color: hsl(var(--clr-white) / 0.25);
		&:hover,
		&:focus {
			background-color: hsl(var(--clr-white) / 0.5);
			transition: outline 0.1s ease-in-out;
		}
	}

	.crew-btn[aria-selected='true'] {
		background-color: hsl(var(--clr-white) / 1);
	}
}

.technology {
	background-image: url(../assets/technology/background-technology-mobile.jpg);

	@media (min-width: 29.6878em) {
		background-image: url(../assets/technology/background-technology-tablet.jpg);
	}
	@media (min-width: 51.255em) {
		background-image: url(../assets/technology/background-technology-desktop.jpg);
	}
	// .technology__image {
	// 	@include u.breakpoint-down(screen-md) {
	// 		margin-inline: auto;
	// 	}
	// }
	.num-btn {
		cursor: pointer;
		border-radius: 50%;
		outline: transparent;
		transition: ease-in-out 0.3s;
		color: hsl(var(--clr-white));
		background-color: transparent;
		width: clamp(2rem, calc(2rem + 3vw), 5rem);
		height: clamp(2rem, calc(2rem + 3vw), 5rem);
		border: 1px solid hsl(var(--clr-white) / 0.25);
		&:hover,
		&:focus {
			border: 1px solid hsl(var(--clr-white) / 0.75);
		}
		&[aria-selected='true'] {
			color: hsl(var(--clr-dark));
			background-color: hsl(var(--clr-white) / 1);
		}
	}
}

.tab-btn {
	border: 0;
	padding: 0.5rem 0;
	position: relative;
	background-color: transparent;

	&::after {
		content: '';
		left: 0;
		bottom: 0;
		width: 100%;
		display: block;
		height: 0.2rem;
		position: absolute;
		transform: scaleX(0);
		transform-origin: center;
		background-color: hsl(var(--clr-white) / 0.5);
		transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	}
	&:focus::after {
		transform: scaleX(1);
		transform-origin: center;
	}
	&:hover::after {
		transform: scaleX(1);
		transform-origin: center;
	}
	&[aria-selected='true']::after {
		transform: scale(1);
		background-color: hsl(var(--clr-white));
		transition: 300ms ease;
	}
}
