:root {
	--gap: clamp(1.5rem, calc(1rem + 4vw), 3rem);
	--line-gap: 2rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; 
	border: 0;
}

.skip-to-content {
   z-index: 9999;
	padding: 0.5em 1em;
	position: absolute;
	margin-inline: auto;
	color: hsl(var(--clr-dark));
	transform: translateY(-100%);
	background: hsl(var(--clr-white));
	transition: transform 250ms ease-in;
	font-family: var(--ff-barlow-cond);
}

.skip-to-content:focus {
	transform: translateY(0);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes grow {
	from {
		transform: scale(0.8);
		opacity: .8;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes slide-right {
	from {
		opacity: 0;
		transform: translateX(-2.5rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-left {
	from {
		opacity: 0;
		transform: translateX(2.5rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-2.5rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slide-up {
	from {
		opacity: 0;
		transform: translateY(2.5rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}