@use '../utils/' as u;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap');

:root {
	/* font-sizes */
	--fs-900: clamp(5rem, 2.2rem + 8vw, 9.375rem);
	--fs-800: 3.5rem;
	--fs-700: 1.5rem;
	--fs-600: 1rem;
	--fs-500: 1rem;
	--fs-400: 0.9375rem;
	--fs-300: 1rem;
	--fs-200: 0.875rem;

	/* font-families */
	--ff-bellefair: 'Bellefair', serif; // serif
	--ff-barlow: 'Barlow', sans-serif; // sans normal
	--ff-barlow-cond: 'Barlow Condensed', sans-serif; //sans-cond

	// letter-spacing
	--ls-1: 4.75px;
	--ls-2: 2.7px;
	--ls-3: 2.35px;

	// font weight
	--fw-bold: 700;
	--fw-regular: 400;
}

@media (min-width: 29.6875em) {
	:root {
		--fs-800: 5rem;
		--fs-700: 2.5rem;
		--fs-600: 1.5rem;
		--fs-500: 1.25rem;
		--fs-400: 1rem;
	}
}

@media (min-width: 51.25em) {
	:root {
		/* font-sizes */
		--fs-800: 6.25rem;
		--fs-700: 3.5rem;
		--fs-600: 2rem;
		--fs-500: 1.75rem;
		--fs-400: 1.125rem;
	}
}
.main p:not([class]) {
	max-width: 50ch;
	color: hsl(var(--clr-light));
	line-height: 1.6;
}

.txt-accent {
	color: hsl(var(--clr-light));
}

.numbered-title {
	margin-block: 0.5rem;
	font-size: var(--fs-500);
	text-transform: uppercase;
	letter-spacing: var(--ls-1);
	font-weight: var(--fw-regular);
	font-family: var(--ff-barlow-cond);
	@include u.breakpoint(screen-sm) {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
}

.numbered-title span {
	font-weight: 700;
	margin-right: 0.5em;
	color: hsl(var(--clr-white) / 0.25);
}

.header {
	&__nav {
		a {
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: var(--ls-2);
			color: hsl(var(--clr-white));
			font-family: var(--ff-barlow-cond);
		}
		.link-num {
			font-weight: 700;
		}
	}
}

.home {
	.explore-btn {
		font-size: clamp(1.25rem, calc(1rem + 1.5vw), 2.291875rem);
		text-transform: uppercase;
		color: hsl(var(--clr-dark));
		font-family: var(--ff-bellefair);
	}

	&__heading {
		font-size: var(--fs-500);
		text-transform: uppercase;
		letter-spacing: var(--ls-1);
		color: hsl(var(--clr-light));
		font-weight: var(--fw-regular);
		font-family: var(--ff-barlow-cond);

		&--large {
			display: block;
			font-size: var(--fs-900);
			color: hsl(var(--clr-white));
			font-family: var(--ff-bellefair);
		}
	}
}

.main--destination {
	.destination__btn {
		text-transform: uppercase;
		letter-spacing: var(--ls-2);
		color: hsl(var(--clr-light));
		font-family: var(--ff-barlow-cond);
	}
	.destination__name {
		font-size: var(--fs-800);
		text-transform: uppercase;
		font-weight: var(--fw-regular);
		font-family: var(--ff-bellefair);
	}
	@include u.breakpoint(screen-md) {
		text-align: left;
	}
	.meta__heading {
		font-size: var(--fs-2);
		text-transform: uppercase;
		color: hsl(var(--clr-light));
		font-weight: var(--fw-regular);
		font-family: var(--ff-barlow-cond);
	}
	.spacetime {
		font-family: var(--ff-bellefair);
		text-transform: uppercase;
	}
}

.main--crew {
	.designation {
		font-size: var(--fs-600);
		text-transform: uppercase;
		font-weight: var(--fw-regular);
		font-family: var(--ff-bellefair);
		color: hsl(var(--clr-white) / 0.5);
	}
	.name {
		font-size: var(--fs-700);
		text-transform: uppercase;
		font-family: var(--ff-bellefair);
	}
	@include u.breakpoint(screen-md) {
		text-align: left;
	}
}

.main--technology {
	@include u.breakpoint(screen-md) {
		text-align: left;
	}

	.technology__heading {
		@include u.breakpoint(screen-sm) {
			padding-left: 2rem;
		}
		@include u.breakpoint(screen-md) {
			padding: 0;
		}
	}

	.terminology {
		font-size: var(--fs-400);
		text-transform: uppercase;
		color: hsl(var(--clr-light));
		font-weight: var(--fw-regular);
		font-family: var(--ff-bellefair);
	}
	.tech {
		display: block;
		font-size: var(--fs-700);
		text-transform: uppercase;
		font-family: var(--ff-bellefair);
	}
}
