@use "../utils" as u;

.scroll {
   padding-block: 10rem;
   position: fixed;
   inset: 0;
   overflow-y: auto;
   z-index: 100;
   display: grid;
}
.center {
   display: grid;
   place-items: center;
}
.modal {
   margin: auto;
   padding: 2rem;
   border-radius: 1rem;
   min-height: fit-content;
   width: calc(100% - 4rem);
   animation: fade-in 500ms forwards;
   background-color: hsl(var(--White));
   box-shadow: 0 0 1rem hsl(var(--Black) / 0.05);
   @include u.breakpoint(screen-sm) {
      width: clamp(40vw, 73rem, 100%);
   }

   .pledge {
      border-radius: 0.8rem;
      border: solid 0.1rem hsl(var(--Light-gray));
      &:last-of-type {
         opacity: 0.5;
         pointer-events: none;
      }
      &__info {
         padding: clamp(1.8rem, 1rem + 2vw, 5rem);
         .amount {
            display: flex;
            align-items: center;
            gap: 0.8rem;
         }
      }
      &__confirm {
         padding: 2rem;
         position: relative;
         border-top: 0.1rem solid hsl(var(--Light-gray));

         .sign {
            width: fit-content;
            margin-left: 2.5rem;
            margin-bottom: 0.1rem;
            @include u.breakpoint(screen-sm) {
               margin-left: 1.5rem;
            }
         }
         .commit {
            border: 0;
            max-width: 10rem;
            max-height: 4.4rem;
            padding: 1rem 2.5rem;
            border-radius: 3rem;
            outline: 0.1rem solid hsl(var(--Light-gray));
            &:focus {
               outline-color: hsl(var(--Moderate-cyan));
            }
         }
         .error:focus {
            outline-color: hsl(var(--Strawberry-red));
         }
         .submit {
            padding: 1rem 2rem;
            border-radius: 3rem;
            width: fit-content;
            height: fit-content;
         }
      }
   }
   .active {
      border: solid 0.2rem hsl(var(--Moderate-cyan));
   }
   .invalid {
      border: solid 0.2rem hsl(var(--Strawberry-red));
   }
   .error:focus {
      outline-color: hsl(var(--Strawberry-red));
   }
   .disable {
      pointer-events: none;
      opacity: 0.6;
      &:focus-within {
         outline: none;
      }
   }
}

.backdrop {
   z-index: 5;
   inset: 0 0 0 0;
   position: fixed;
   min-width: 100vw;
   min-height: 100vh;
   background: hsl(var(--Black) / 0.6);
}
.modal[open].backdrop {
   animation: fade-in 500ms forwards;
}
.modal[open] {
   animation: fade-in 500ms forwards;
}
.modal[open="false"] {
   animation: fade-out 500ms forwards;
}

input[type="radio"] {
   margin: 0;
   width: 1.3rem;
   height: 1.3rem;
   cursor: pointer;
   appearance: none;
   border-radius: 50%;
   outline-offset: 0.3rem;
   accent-color: hsl(var(--Moderate-cyan));
   outline: 0.1rem solid hsl(var(--Dark-gray));
   &:focus-within {
      outline-color: hsl(var(--Dark-cyan));
   }
   &:hover {
      outline-color: hsl(var(--Moderate-cyan));
   }
}
input[type="radio"]:checked {
   outline: 0.1rem solid hsl(var(--Moderate-cyan));
   background-color: hsl(var(--Moderate-cyan));
}

// removes default spin button from input //
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type="number"] {
   -moz-appearance: textfield;
   appearance: textfield;
}
