@use "../utils" as u;

.toggle {
   width: 1.8rem;
   gap: 0.4rem;
   margin: 0.5rem;
   display: flex;
   cursor: pointer;
   justify-self: end;
   flex-direction: column;
   justify-content: center;
   z-index: 3;

   .line {
      width: 100%;
      height: 0.3rem;
      transition: 250ms ease;
      border-radius: 0.2rem;
      background-color: hsl(var(--White));
   }
   .top[data-active="true"] {
      transform: translateY(0.4rem) rotate(45deg);
   }
   .mid[data-active="true"] {
      display: none;
   }
   .bottom[data-active="true"] {
      transform: translateY(-0.3rem) rotate(-45deg);
   }

   @include u.breakpoint(screen-lg) {
      display: none;
   }
}
