/*GENERAL STYLING*/
body {
    margin: 0;
    padding: 0;
    font-family: tahoma;
}

li {
    list-style: none;
    font-size: 30px;
}

h1,
h2,
h3 {
    margin: 0;
}

h2 {
    font-size: 35px;
    padding: 5px;
}

ul {
    padding: 0;
}

input {
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 5px;
}


/*SPECIFIC STYLING*/
#main-header {
    background-color: rgb(48, 129, 48);
}

#header-title {
    font-weight: 500;
    font-size: 45px;
    color: white;
}

.head-container {
    padding: 1em;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0 9% 0 9%;
}

#items * {
    border-radius: 5px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 0.5em;
}

#items :last-of-type {
    border-bottom: 1px solid gray;
}

#items {
    display: flex;
    flex-direction: column;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.delete {
    background-color: rgb(238, 51, 51);
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.delete:hover {
    background-color: red;
}

form {
    display: flex;
    gap: 1em;
}

@media (max-width: 650px) {
    .form-inline {
        flex-direction: column;
    }

}

.btn-dark {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.btn-dark:hover {
    background-color: black;
}

.btn-block {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 7px;
}

#main {
    border: 1px solid grey;
    border-radius: 7px;
    padding: 2em;
    margin: 2% 10%;
}