*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container {
    margin: auto;
    padding: 2em;
}
#box{
    border: 2px solid greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

    /* for javascript */
#box-1{
    border: 2px solid greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}
#box-2{
    border: 2px solid greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}
        /* for javascript */
.box{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
button {
    margin: 1rem 0 1rem 0;
    background-color: rgb(120, 182, 27);
    color: white;
    padding: 0.5em;
    width: 100%;
}
button:hover {
    background-color: greenyellow;
    cursor: pointer;
}

p {
    border: 1px solid orangered;
    text-align: center;  
}

h1 {
    font-size: 50px;
    text-align: center;
}

#textbox {
    width: 80%;
    margin: 1rem;
}