/* Crew Layout */
@use '../utils' as u;

@include u.breakpoint(screen-md) {

}
.crew {
	--flow-space: 2rem;
	grid-template-areas:
		'title'
		'image'
		'tabs'
		'content';
}

.crew > picture {
	grid-area: image;
	max-width: 60%;
	border-bottom: 1px solid hsl(var(--clr-white) / 0.1);
}

.crew > .dot-indicators {
	grid-area: tabs;
}

.crew > .crew-details {
	grid-area: content;
}

.crew-details h2 {
	color: hsl(var(--clr-white) / 0.5);
}

@media (min-width: 35em) {
	.numbered-title {
		justify-self: start;
		margin-top: 2rem;
	}
	.destination-meta {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.crew {
		padding-bottom: 0;
		grid-template-areas:
			'title'
			'content'
			'tabs'
			'image';
	}
}

@media (min-width: 45em) {
	.grid-container {
		text-align: left;
		column-gap: var(--container-gap, 2rem);
		grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
				2rem,
				1fr
			);
	}

	.home > *:first-child {
		grid-column: 2;
	}

	.home > *:last-child {
		grid-column: 3;
	}

	.home {
		padding-bottom: max(6rem, 20vh);
		align-items: end;
	}

	.destination {
		justify-items: start;
		align-content: start;
		grid-template-areas:
			'. title title .'
			'. image tabs.'
			'. image content .';
	}

	.destination > picture {
		max-width: 90%;
	}
	.destination-meta {
		--gap: min(6vw, 6rem);
		justify-content: start;
	}

	.crew {
		grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(
				1rem,
				1fr
			);
		justify-items: start;
		grid-template-areas:
			'. title title .'
			'. content image .'
			'. tabs image .';
	}

	.crew > picture {
		grid-column: span 2;
		align-self: end;
		max-width: 90%;
	}
}
