@use '../utils' as u;

.main--crew {
	grid-template-areas:
		'title'
		'image'
		'tabs'
		'content';

	@include u.breakpoint(screen-sm) {
		padding-bottom: 0;
		grid-template-areas:
			'title'
			'content'
			'tabs'
			'image';
	}
	@include u.breakpoint(screen-md) {
		column-gap: var(--container-gap, 2rem);

		grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(
				1rem,
				1fr
			);
		justify-items: start;
		grid-template-areas:
			'. title title .'
			'. content image .'
			'. tabs image .';
	}
}

.main--crew > *:not(:first-child) {
	margin-top: 2rem;
}
.crew__heading {
	grid-area: title;
}
.crew-image {
	grid-area: image;
	max-width: 60%;
	border-bottom: 1px solid hsl(var(--clr-white) / 0.1);

	@include u.breakpoint(screen-md) {
		grid-column: span 2;
		align-self: end;
		max-width: 90%;
	}
}

.crew__tab {
	grid-area: tabs;
	display: flex;
	gap: var(--gap, 1rem);
}

.crew-details {
	grid-area: content;
}

.name {
	margin-top: 1rem;
}

.dot {
	border: 0;
	padding: 0.5em;
	cursor: pointer;
	border-radius: 50%;
	background-color: hsl(var(--clr-white) / 0.25);

	&:hover,
	&:focus {
		background-color: hsl(var(--clr-white) / 0.5);
	}
}

.dot > [aria-selected='true'] {
	background-color: hsl(var(--clr-white) / 1);
}
