@use '../utils' as u;

.main--crew {
	grid-template-areas:
		'title'
		'image'
		'tabs'
		'content';

	@include u.breakpoint(screen-sm) {
		padding-bottom: 0;
		grid-template-areas:
			'title'
			'content'
			'tabs'
			'image';
	}
	@include u.breakpoint(screen-md) {
		justify-items: start;
		grid-template-areas:
			'. title title .'
			'. content image .'
			'. tabs image .';
		column-gap: var(--container-gap, 2rem);
		grid-template-rows: min-content 1fr auto;
		grid-template-columns: minmax(1rem, 7.3125rem) minmax(0, 38.375rem) minmax(0, 1fr) minmax(1rem, 7.3125rem) ;
	}
}

.crew__heading {
	grid-area: title;
}

.crew__details {
	grid-area: content;
	@include u.breakpoint(screen-sm) {
		margin-top: 3.75rem;
	}
	@include u.breakpoint(screen-md) {
		margin-top: 0;
	}

}

.crew__name {
	margin-top: 0.5rem;
}

.crew__image {
	grid-area: image;
	max-width: 55%;
	border-bottom: 1px solid hsl(var(--clr-white) / 0.1);
	@include u.breakpoint-down(screen-sm) {
		margin-top: 1.5rem;
	}
	@include u.breakpoint(screen-md) {
		grid-column: span 2;
		align-self: end;
		max-width: 90%;
	}
}

.crew__tab {
	grid-area: tabs;
	display: flex;
	gap: clamp(1rem, calc(1vw + 0.8rem), 1.5rem);
	@include u.breakpoint-down(screen-sm) {
		margin-block: 2rem;
	}
	@include u.breakpoint-down(screen-md) {
		margin-block: 2.5rem;
	}
	@include u.breakpoint(screen-md) {
		padding-bottom: 4rem;
	}
}
