@use '../utils/' as u;

.main--destination {
	display: grid;
	grid-template-areas:
		'title'
		'image'
		'tabs'
		'content';

	@include u.breakpoint(screen-md) {
		justify-items: start;
		grid-template-areas:
			'. title title .'
			'. image tabs .'
			'. image content .';
		column-gap: var(--container-gap, 2rem);
		grid-template-rows: auto auto 1fr;
		grid-template-columns: minmax(2rem, 7.3125rem) repeat(2, minmax(0, 1fr));
	}
}

.destination__heading {
	grid-area: title;
}

.destination__image {
	margin-top: 2rem;
	grid-area: image;
	max-width: 50%;
	@include u.breakpoint(screen-sm) {
		max-width: 18.75rem;
		align-self: end;
		justify-self: center;
	}
	@include u.breakpoint(screen-md) {
		max-width: 90%;
		align-self: end;
		justify-self: center;
	}
}

.destination__tab {
	grid-area: tabs;
	display: flex;
	gap: clamp(1rem, calc(1vw + 0.8rem), 2rem);
	@include u.breakpoint-down(screen-md) {
		margin-top: 2rem;
	}
}


.destination__info {
	grid-area: content;
	margin-top: 2.5rem;
}

.destination__details {
	display: flex;
	margin-top: 2.5rem;
	padding-top: 2.5rem;
	gap: var(--gap, 1rem);
	flex-direction: column;
	border-top: 1px solid hsl(var(--clr-white) / 0.1);

	@include u.breakpoint(screen-sm) {
		flex-direction: row;
		justify-content: space-evenly;
	}
	@include u.breakpoint(screen-md) {
		gap: min(6vw, 6rem);
		justify-content: start;
	}
}


