@use '../utils/' as u;

.main--destination {
	display: grid;
	grid-template-areas:
		'title'
		'image'
		'tabs'
		'content';

	@include u.breakpoint(screen-md) {
		// justify-items: start;
		align-content: start;
		grid-template-areas:
			'. title title .'
			'. image tabs .'
			'. image content .';
		column-gap: var(--container-gap, 2rem);
		grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 35rem)) minmax(
				2rem,
				1fr
			);
	}
}
.main--destination > *:not(:first-child) {
	margin-top: 2rem;
}

.destination__image {
	grid-area: image;
	max-width: 60%;
	@include u.breakpoint(screen-md) {
		max-width: 90%;
	}
}

.tab-list {
	display: flex;
	gap: clamp(1rem, calc(1vw + 0.8rem), 2rem);
}

.destination__heading {
	grid-area: title;
}
.tab-list {
	grid-area: tabs;
}
.destination-info {
	grid-area: content;
	& p {
		// margin-top: 2rem;
	}
}
.destination-meta {
	display: flex;
	margin-top: 2.5rem;
	padding-top: 2.5rem;
	gap: var(--gap, 1rem);
	flex-direction: column;
	border-top: 1px solid hsl(var(--clr-white) / 0.1);

	@include u.breakpoint(screen-sm) {
		flex-direction: row;
		justify-content: space-evenly;
	}
	@include u.breakpoint(screen-md) {
		gap: min(6vw, 6rem);
		justify-content: start;
	}
}
.destination-meta p {
	font-size: 1.75rem;
}
