@use '../utils/' as u;

@include u.breakpoint(screen-md) {
	.main--home {
		text-align: left;
		column-gap: var(--container-gap, 2rem);
		grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
				2rem,
				1fr
			);
		padding-bottom: max(6rem, 15.1vh);
		align-items: end;
	}

	.breifing {
		grid-column: 2;
	}

	.explore {
		grid-column: 3;
		margin-top: 1rem;
		justify-self: end;
	}
}
