@use '../utils/' as u;

.main--technology {
	padding-inline: 0;
	grid-template-areas:
	'title'
	'image'
	'tabs'
	'content';
	
	@include u.breakpoint(screen-md) {
		grid-template-areas:
		'. title title .'
		'. tabs content image'
		'. tabs content image';
		grid-template-rows: auto 1fr;
		column-gap: var(--container-gap, 2rem);
		grid-template-columns:minmax(1rem, 8.3125rem) minmax(2rem, min-content) minmax(0, 30rem) minmax(
				2rem,
				1fr
			);
	}

}

.technology__heading {
	grid-area: title;
}

.technology__tab {
	grid-area: tabs;
	gap: 2rem;
	display: flex;
	margin-block: 2em;
	align-items: center;
	justify-content: center;

	@include u.breakpoint(screen-md) {
		flex-direction: column;
		margin: 0;
	}
}

.technology__details {
	grid-area: content;
}

.technology__image {
	grid-area: image;
	justify-self: end;
	margin-top: 2rem;
	@include u.breakpoint(screen-sm) {
		margin-top: 3.75rem;
	}
	@include u.breakpoint(screen-md) {
		margin-top: 0;
	}
}

