/* Custom properties   */

:root {
    font-size: 62.5%;

    /* Primary colors  */
    --Marineblue: 213 96% 18%;
    --Purplish-blue: 243 100% 62%;
    --Pastel-blue: 228 100% 84%;
    --Light-blue: 206 94% 87%;
    --Strawberry-red: 354 84% 57%;

    /* Neutral colors */
    --Cool-gray: 231 11% 63%;
    --Light-gray: 229 24% 87%;
    --Magnolia: 217 100% 97%;
    --Alabaster: 231 100% 99%;
    --White: 0 0% 100%;

    /* Font families */
    --ff-outfit: 'Outfit', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;
    --ff-ubuntu: 'Ubuntu', sans-serif;


}


/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* make images easier to work with */
picture,
img {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* set up the body */
body {
    background-color: hsl(var(--Marineblue)); /* change to magnolia after finishing layout*/
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: var(--ff-ubuntu);
}

/* Utility Classes */

/* Background colors */
.bg-dark {background-color: hsl(var(--Purplish-blue));}
.bg-accent {background-color: hsl(var(--Light-blue));}
.bg-light {background-color: hsl(var(--Light-gray));}
.bg-white {background-color: hsl(var(--White));}
.bg-blue {background-color: hsl(var(--Marineblue));}
.bg-blue2 {background-color: hsl(var(--Pastel-blue));}
.bg-al {background-color: hsl(var(--Alabaster));}

/* Text color */
.txt-dark {color: hsl(var(--Purplish-blue));}
.txt-accent {color: hsl(var(--Light-blue));}
.txt-light {color: hsl(var(--Light-gray));}
.txt-white {color: hsl(var(--White));}
.txt-blue {color: hsl(var(--Marineblue));}
.txt-gray {color: hsl(var(--Cool-gray));}

/* typography */
.ff-ubuntu {font-family: var(--ff-ubuntu);}
.ff-outfit {font-family: var(--ff-outfit);}
.ff-poppins {font-family: var(--ff-poppins);}


.flex {
    display: flex;
    gap: 1rem;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-right {
    align-self: flex-end;
}

.container {
    padding: 2em;
    margin-inline: auto;
    max-width: 80%;
}

.warning {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 50%;
    color: hsl(var(--Strawberry-red));
    font-weight: 700;
    font-size: 1.3rem;
}

/* ----------Layout------------- */
.content-sidebar {
    flex-wrap: wrap;
    border-radius: 1.5rem;
    height: 86vh;
    padding: 1.3rem;
    border: .2rem solid hsl(var(--Strawberry-red));
}

.sidebar {
    border-radius: 1rem;
    flex: 1 1 25%;
    border: .2rem solid hsl(var(--Strawberry-red));
}

/* ----------Sidebar---------- */
.sidebar {
    background-image: url(images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    padding-inline: 3rem;
    padding-block: 3rem;
    height: 100%;
    gap: 2.5rem;
}

.tab {
    font-weight: 700;
    background-color: transparent;
    border: .1rem solid hsl(var(--White));
    color: hsl(var(--White));
}

.tab {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.details>h6 {
    margin: 0;
    color: hsl(var(--Light-gray));
}

.side-tabs>[aria-selected="true"] {
    border: none;
    background-color: hsl(var(--Light-blue) / 1);
    color: hsl(var(--Marineblue));
}

.details>h4 {
    font-weight: 500;
}

/* ----------Content---------- */
.content {
    border: .2rem solid hsl(var(--Strawberry-red));
    border-radius: 1rem;
    flex: 1 1 70%;
}

.content {
    padding-top: 3em;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 1;
}

.info {
    padding-bottom: 1.5rem;
}

h1 {
    font-weight: 700;
}

/* ----------Form Section---------- */
.step-1 {
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}

input::placeholder {
    color: hsl(var(--Cool-gray));
    font-weight: 400;
}

input {
    border: 0.05rem hsl(var(--Cool-gray) / .5) solid;
    border-radius: .7rem;
    padding: 1rem;
    cursor: pointer;
    color: hsl(var(--Marineblue));
    outline: none;
    font-weight: 500;
}

label {
    padding-top: 2rem;
    font-weight: 500;
}

.bottom {
    justify-content: space-between;
    align-items: center;
    padding-top: 9rem;
}

.btn {
    border-radius: .5rem;
    padding-block: .8rem;
    padding-inline: 2rem;
    color: hsl(var(--White));
    cursor: pointer;
    border: none;
}

.btn:hover {
    transform: scale(1.1);
    transition: 500ms ease-in-out;
}

.btn:active {
    transform: scale(0.96);
    transition: 200ms ease-in;
    background-color: hsl(var(--Purplish-blue) / 1);
}

.back {
    text-decoration: none;
    font-weight: 700;
}
.back:hover{
    color: hsl(var(--Marineblue));
}













/* -------------------Mobile------------------ */
@media (max-width: 37.5rem) {
    .sidebar {
        background-image: url(images/bg-sidebar-mobile.svg);
        background-repeat: no-repeat;
        padding-inline: 3rem;
        padding-block: 4rem;
        height: 100%;
    }

    .content-sidebar {
        padding: 0;
    }
    .side-tabs{
        flex-direction: row;
    }

    .details {
        display: none;
    }

    .content {
        width: 80vw;
    }
}



















.attribution {
    display: flex;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}