/* Custom properties   */

:root {
    font-size: 62.5%;

    /* Primary colors  */
    --Marineblue: 213 96% 18%;
    --Purplish-blue: 243 100% 62%;
    --Pastel-blue: 228 100% 84%;
    --Light-blue: 206 94% 87%;
    --Strawberry-red: 354 84% 57%;

    /* Neutral colors */
    --Cool-gray: 231 11% 63%;
    --Light-gray: 229 24% 87%;
    --Magnolia: 217 100% 97%;
    --Alabaster: 231 100% 99%;
    --White: 0 0% 100%;

    /* Font families */
    --ff-outfit: 'Outfit', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;
    --ff-ubuntu: 'Ubuntu', sans-serif;


}


/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* make images easier to work with */
picture,
img {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* set up the body */
body {
    background-color: hsl(var(--Magnolia)); /* change to magnolia after finishing layout*/
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: var(--ff-ubuntu);
}

/* Utility Classes */

/* Background colors */
.bg-dark {background-color: hsl(var(--Purplish-blue));}
.bg-accent {background-color: hsl(var(--Light-blue));}
.bg-light {background-color: hsl(var(--Light-gray));}
.bg-white {background-color: hsl(var(--White));}
.bg-blue {background-color: hsl(var(--Marineblue));}
.bg-blue2 {background-color: hsl(var(--Pastel-blue));}
.bg-al {background-color: hsl(var(--Alabaster));}
.bg-mg {background-color: hsl(var(--Magnolia));}

/* Text color */
.txt-dark {color: hsl(var(--Purplish-blue));}
.txt-accent {color: hsl(var(--Light-blue));}
.txt-light {color: hsl(var(--Light-gray));}
.txt-white {color: hsl(var(--White));}
.txt-blue {color: hsl(var(--Marineblue));}
.txt-gray {color: hsl(var(--Cool-gray));}
.txt-purple {color: hsl(var(--Purplish-blue));}
.txt-red {color: hsl(var(--Strawberry-red));}

/* typography */
.ff-ubuntu {font-family: var(--ff-ubuntu);}
.ff-outfit {font-family: var(--ff-outfit);}
.ff-poppins {font-family: var(--ff-poppins);}

.four{font-weight: 400;}
.five{font-weight: 500;}
.seven{font-weight: 700;}

.txt-center{
    text-align: center;
}

.flex {
    display: flex;
    gap: 1rem;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-right {
    align-self: flex-end;
}
.block{
    display: block;
}
.hidden{
    display: none;
}


.container {
    padding: 2em;
    margin-inline: auto;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}


/* ----------Layout------------- */
.content-sidebar {
    border-radius: 1.5rem;
    height: 100%;
    min-height: 57rem;
    max-height: 80vh;
    width: 70%;
    min-width: 75rem;
    padding: 1.3rem;
    /* border: .2rem solid hsl(var(--Strawberry-red)); */
    box-shadow: 0 0 1rem 0 hsl(var(--Cool-gray) / .4);
}

.sidebar {
    border-radius: 1rem;
    flex: 1 1 25%;
    /* border: .2rem solid hsl(var(--Strawberry-red)); */
}

.content {
    /* border: .2rem solid hsl(var(--Strawberry-red)); */
    border-radius: 1rem;
    flex: 1 1 65%;
    /* overflow: auto; */
}

/* ----------Sidebar---------- */
.sidebar {
    background-image: url(images/bg-sidebar-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-inline: 3rem;
    padding-right: 5rem;
    padding-block: 3.5rem;
    max-height: 100%;
    min-width: fit-content;
    gap: 2.5rem;
}
.side-tabs{
    gap: 1.5rem;
}
.tab {
    border: .1rem solid hsl(var(--White));
    color: hsl(var(--White));
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    cursor: default;
    padding: .7rem;
}

.details>p{
    font-size: 1.1rem;
    color: hsl(var(--Light-gray));
}

/* Js conditional */
.side-tabs>[aria-selected="true"] {
    border: none;
    background-color: hsl(var(--Light-blue) / 1);
    color: hsl(var(--Marineblue));
}

.details>h4 {
    font-weight: 500;
}

/* ----------Content---------- */

.content {
    padding-top: 4rem;
    max-height: 100%;
    justify-content: flex-start;
    align-items: center;
    min-width: fit-content;
    position: relative;
}

.info {
    padding-bottom: 1.5rem;
}
h1{
    font-size: 3rem;
}
/* ----------Form Section---------- */

.form {
    display: flex;
    flex-direction: column;
}
input::placeholder {
    color: hsl(var(--Cool-gray));
    font-weight: 400;
}
input:hover{
    border-color: hsl(var(--Purplish-blue) / .8);
}
input:focus{
   border-color: hsl(var(--Purplish-blue) /1); 
}
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input {
    border: 0.05rem hsl(var(--Cool-gray) / .5) solid;
    border-radius: .7rem;
    padding: 1rem;
    cursor: pointer;
    color: hsl(var(--Marineblue));
    outline: none;
    font-weight: 500;
}
.required {
    border: .1rem solid hsl(var(--Strawberry-red) / .8);
}
.required:hover {
    border-color: hsl(var(--Strawberry-red) / .8);
}
.required:focus {
    border-color: hsl(var(--Strawberry-red) / .8);
}
.invalid{
    font-size: 1.3rem;
}
.form label {
    padding-top: 2rem;
    font-weight: 500;
    justify-content: space-between;
    cursor: pointer;
}
.bottom {
    justify-content: space-between;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 3rem;
}
.btn-1{
    margin-left: auto;
 }

.btn {
    border-radius: .5rem;
    padding-block: .8rem;
    padding-inline: 2rem;
    color: hsl(var(--White));
    cursor: pointer;
    border: none;
}

.btn:hover {
    transform: scale(1.02);
    transition: 200ms ease-out;
    background-color: hsl(var(--Marineblue) / .9);
}

.btn:active {
    transform: scale(0.96);
    transition: 200ms ease-in;
}

.back {
    background: transparent;
    border: none;
    cursor: pointer;   
}
.back:hover{
    color: hsl(var(--Marineblue));
}

/* ---------- STEP 2 ---------- */
.select {
    margin-top: 2.5rem;
    gap: 2rem;
}
.step-2 .bottom{
    position: absolute;
    bottom: 0;
    gap: 25rem;
}
.plan {
    border:.1rem solid  hsl(var(--Cool-gray) / .5);
    border-radius: 1rem;
    height: 16rem;
    width: 13rem;
    background-position: 15% 15%;
    background-repeat: no-repeat;
    padding-inline: 1.5rem;
    padding-block: 1rem;
}
/* JS conditional */
.plan[aria-expanded="true"] {
    height: 19rem;
    transition: 400ms;
}
.plan{
    display: flex;
    justify-content: flex-end;
}
.plan:hover{
    border-color: hsl(var(--Purplish-blue) / .8);
    cursor: pointer;
}
.plan[data-clicked="true"] {
    background-color: hsl(var(--Magnolia) / .5);
    border-color: hsl(var(--Purplish-blue) / .8);
}
.plan > .perks{
    font-size: 1.2rem;
}
.arcade{
    background-image: url(images/icon-arcade.svg);
}
.advanced{
    background-image: url(images/icon-advanced.svg);
}
.pro{
    background-image: url(images/icon-pro.svg);
}


.toggle {
    background-color: hsl(var(--Magnolia) );
    margin-top: 2.5rem;
    padding: 1rem; 
    gap: 2rem;
}
.option[data-selected="true"]{
    color: hsl(var(--Marineblue));
}
.toggle > div {
    gap: 3rem;
}
.option{
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(var(--Marineblue));
    --webkit-transition: .4s;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    top: .4rem;
    left: .3rem;
    right: .4rem;
    background-color: hsl(var(--White));
    transition: 400ms;
    --webkit-transition: .4s;
}

input:checked + .slider {
    background-color: hsl(var(--Marineblue) );
}
input:focus + .slider {
    box-shadow: 0 0 .1rem hsl(var(--Marineblue) );
}
input:checked + .slider::before {
    /* -webkit-transform: translateX(2.2rem);
    -ms-transform: translateX(2.2rem); */
    transform: translateX(2.2rem);
}
.slider {
    border-radius: 3.5rem;
}
.slider::before{
    border-radius: 50%;
}


/* ---------- STEP 3 ---------- */
.add-on{
    margin-top: 2rem;
    gap: 1.5rem;
}
.pick {
    border:.1rem solid  hsl(var(--Cool-gray) / .5);
    border-radius: 1rem;
    height: 7.6rem;
    width: 42rem;
    padding-inline: 2rem;
    gap: 2rem;
}
.step-3 .bottom {
    position: absolute;
    bottom: 0;
    gap: 24rem;
}
.pick{
    align-items: center;
}
.pick:hover{
    border-color: hsl(var(--Purplish-blue) / .8);
}
.pick>span{
    font-size: 1.3rem;
    margin-left: auto;
}

.checkbox {
    height: 1.7rem;
    width: 1.7rem;
    accent-color: hsl(243 100% 62%);
}
.checkbox-option{
    cursor: pointer;
}
.pick[data-checked="true"] {
    background: hsl(var(--Magnolia) / .5);
    border-color: hsl(var(--Purplish-blue) / 1);
}
/* ---------- STEP 4 ----------- */
.reciept{
    margin-top: 2rem;
    width: 45rem;
    max-height: 22rem;
    border-radius: 1rem;
    padding-block: 2rem;
    padding-inline: 2rem;
    gap: 3rem;
    position: relative;
}
.reciept::after {
    content: '';
    display: block;
    position: absolute;
    height: .1rem;
    width: 41rem;
    background-color: hsl(var(--Cool-gray) / .5); 
    top: 9rem; 
 
}
.summary {
    align-items: center;
    justify-content: space-between;  
}
.total {
    padding: 3rem;
    align-items: center;
    justify-content: space-between;
}
.add-on-sum {
    justify-content: space-between;
}
.plus > div >span {
    font-size: 1.4rem;
}
.step-4 .bottom{
    padding-top: 7.5rem;
    position: absolute;
    gap: 28rem;
    bottom: 0;
}
.step-4 .bottom > .btn {
    background-color: hsl(var(--Purplish-blue));
}
.step-4 .bottom > .btn:hover {
    background-color: hsl(var(--Purplish-blue) / .8);
}

.plan-sum > a:hover {
    color: hsl(var(--Purplish-blue) );
}


/* ---------- final page ---------- */
.msg-wrap{ 
    background-image: url(images/icon-thank-you.svg);
    background-position: 50% 40%;
    background-repeat: no-repeat;
    align-items: center;
    gap: 3rem;
    width: 45rem;
}

.msg {
    padding-inline: 1rem;
    padding-top: 22rem;
}
/* .pic{
    padding-top: 10rem;
} */

.attribution {
    display: flex;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    cursor: default;
}

.attribution a {
    color: hsl(var(--Cool-gray));
    text-decoration: none;
}
.attribution a:hover {
    color: hsl(var(--Purplish-blue) )
}


/* -------------------Tablets------------------ */
@media only screen and (max-width: 50rem) {
    .attribution{
        display: none;
    }
    .container {
        min-width: 100%;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-color: hsl(var(--Strawberry-red) );
    }
    .content-sidebar {
        width: 100%;
        min-width: 100%;
        min-height: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
        position: relative;
        background-color: hsl(var(--Magnolia) );
        display: flex;
    }
    .sidebar {
        background-image: url(images/bg-sidebar-mobile.svg);
        background-size: cover;
        border-radius: 0;
        padding-inline: 3rem;
    }
    .sidebar{
        display: flex;
        flex-direction: row;
        height: 30vh;
        min-height: 30%;
        min-width: 100%;
        justify-content: center;
    }
    .details {
        display: none;
    }
    .content {
        display: flex;
        position: absolute;
        z-index: 2;
        top: 15rem;
        left:4%;
        right:4%;
        background-color: hsl(var(--White));
        padding: 2rem;
        min-width: 90%;
        min-height: 60%;
        box-shadow: .2rem .5rem 1rem .1rem hsl(var(--Cool-gray) / .2);
    }

    /* next/back buttons */
    .bottom{
        position: absolute;
        top: 100%;
        left: 0;
        border-radius: 1rem;  
        /* position: fixed;
        bottom: 0;
        left: 0; */
        margin-top: 4rem;
        padding: 2rem;
        padding-inline: 2rem;
        background-color: hsl(var(--White));
        width: 100%;
        z-index: 2;   
        box-shadow: 0 .0 1rem 0 hsl(var(--Cool-gray) / .3);
    }
    /* step-2 */
    .step-2 .bottom {
        gap: 0;
        padding-block: 4rem;
    }
    
    /* step 3 */
    .step-3 .bottom {
        gap: 0;
        padding-block: 4rem;
    }
     /* step four */
     .reciept {
        max-width: 80vw;
    }
    .reciept::after {
        max-width: 85%;  
    }
    .step-4 .bottom{
        padding-top: 2rem;
        gap: 0;
        padding-block: 4rem;
    }
    /* final step */
    .msg-wrap{
      width: 80vw;     
    }
    
}

@media only screen and (max-width: 30rem) {
    .content{
        top: 12rem;
        left:2rem;
        right:2rem;
        width: 80%;
    }

    .sidebar{
        height: 23vh;
        min-height: 20%;
    }
    /* step 1 */
    .form {
        flex-direction: column;
        min-width: 100%;
        width: 80%;
    }
    

    /* step 2 */
    .select{
        flex-direction: column;
        align-items: center;
    }
    .plan{
        flex-direction: row;
        height: 8rem;
        min-width: 100%;
        width: 100%;
        align-items: center;
        justify-content: start;
        background-position: 5%;
        padding-left: 7rem;
    }
    .plan {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
    }
    
    /* step three */
    .pick {
        max-width: 80vw;
        padding-inline: 2rem;
    }
    
    /* step four */
    .reciept {
        max-width: 80vw;
    }
    .reciept::after {
        max-width: 85%;  
    }

    /* step five */
    .msg-wrap{
        max-width: 80vw; 
    }
    .msg{
        max-width: 80vw;
        padding-inline: 1rem;
        padding-bottom: 4rem;
    }

}
















