@use "../utilities" as u;

.header__nav {
    grid-area: nav;
    &__heading {
        grid-area: title;
    }
    &__anchor {
        grid-area: cta;
    }
}
.nav-links {
    display: flex;
    gap: clamp(1.5rem, 5vw, 5rem);
    background: transparent;
    position: relative;
    transition:  250ms ease;
    justify-content: flex-end;
    
    .contact{
        background-color: white;
        padding-inline: 2.8rem;
        padding-block: 1.6rem;
        border-radius: 4rem;
        transition: 200ms ease;

        &:hover {
            background-color: hsla(0, 0%, 100%, 0.3);
            color: hsl(u.$White);
        }
    }
    
    
    @include u.breakpoint-down(screen-lg) {
        .contact{
            background-color: hsl(u.$Yellow);
        }
        &[data-visible="false"] {
            opacity: 0;
            transform: scale(0);
            transform: translateY(-150%);
        }
        &[data-visible="true"] {
            opacity: 1;
            transform: scale(1);
            transform: translateY(0);
        }

        flex-direction: column;
        gap: 3rem;
        position: absolute;
        inset: 15vh 0 0 0;
        margin-inline: auto;
        height: fit-content;
        width: calc(100% - 4.5rem);
        z-index: 2;

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 3rem 3rem;
            border-color: transparent transparent white transparent;
            inset: -3rem 0 auto auto;
        }
    }
}