@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --Blue: hsl(209, 23%, 22%); /* Dark Mode Elements */
   --Dark-Blue: hsl(207, 26%, 17%); /* Dark Mode Background */
   --Very-Dark-Blue: hsl(200, 15%, 8%); /* Light Mode Text */
   --Dark-Gray: hsl(0, 0%, 52%); /* Light Mode Input */
   --Light-Gray: hsl(0, 0%, 98%); /* Light Mode Background */
   --White: hsl(0, 0%, 100%); /* Dark Mode Text & Light Mode Elements */


   /* Scrollbar */
   --ScrollTrack: hsl(0, 0%, 80%); 
   --Scrollbar: hsl(207, 26%, 20%); 
   --Scrollhover: hsl(207, 26%, 15%); 

   /* skeleton */
   --Skeleton-Content:  hsl(0, 0%, 90%);
}

/* Tailwind will apply these colors when in Dark Mode */
.dark {
   --ScrollTrack: hsl(209, 23%, 22%); 
   --Scrollbar: hsl(0, 0%, 80%); 
   --Scrollhover: hsl(0, 0%, 60%); 
   --Skeleton-Content:  hsl(0, 0%, 52%);
}

@layer base {
   body {
      @apply bg-LightBg dark:bg-DarkBg transition duration-300;
   }

   #root {
      @apply bg-LightBg dark:bg-DarkBg transition duration-300;
   }

   ::-webkit-scrollbar {
      @apply w-3;
   }

   ::-webkit-scrollbar-track {
      @apply bg-Scrolltrack transition duration-300;
   } 

   ::-webkit-scrollbar-thumb {
     @apply bg-scrollbar border-[2px] border-Scrolltrack border-solid rounded-[100vh] transition duration-300;
   }
  
   ::-webkit-scrollbar-thumb:hover {
      @apply bg-scrollhover;
   }
}

@layer components {
   .country-list {
      gap: 4.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
   }

   @media screen and (max-width: 48rem) {
      .country-list {
         justify-content: center;
         grid-template-columns: repeat(auto-fill, minmax(auto, 18rem));
      }
   }
}
