@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --Dark-Blue: hsl(209, 23%, 22%); /* Dark Mode Elements */
   --Very-Dark-Blue: hsl(207, 26%, 17%); /* Dark Mode Background */
   --VeryDark-Blue: hsl(200, 15%, 8%); /* Light Mode Text */
   --Dark-Gray: hsl(0, 0%, 52%); /* Light Mode Input */
   --Very-ight-Gray: hsl(0, 0%, 98%); /* Light Mode Background */
   --White: hsl(0, 0%, 100%); /* Dark Mode Text & Light Mode Elements */
}

@layer base {
   body {
      @apply bg-LightBg dark:bg-DarkBg;
   }
   ::-webkit-scrollbar {
		width: 0.935rem;
	}
	::-webkit-scrollbar-thumb{
		border-radius: 100vh;
		border: 0.2rem var(--Dark-Blue) solid;
		background-color: var(--VeryDark-Blue);
	}
	::-webkit-scrollbar-track {
		background-color: var(--Dark-Blue);
	}
}

@layer components {
   .countries__grid {
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
   }
   .select{
     
   }
}
