:root {
--Orange: hsl(25, 97%, 53%);
--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
	height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
   list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
   text-decoration-skip-ink: auto;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* utility classes */

.visually-hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Main styles */

body {
  font-family: 'Overpass', sans-serif;
  background-color: var(--Very-Dark-Blue);
  min-height: 100vh;
  color: var(--White);
}

#app {
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  min-height: 100vh;
  place-items: center;
  padding-inline: 2rem;
}

.card {  
  background-color: var(--Dark-Blue);
  border-radius: 1rem;
  width: clamp(3rem, 100%, 25.5rem);
  padding: clamp(0.75rem, calc(0.75rem + 2vw), 2.5rem);
  min-height: clamp(18rem, calc(5rem + 10vw), 25rem);
}

.card--rating {
  display: grid;
  gap: 1rem;
}

.card--thanks{
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1rem;
}

.card--rating[data-visible="true"] {
  display: grid;
}

.card--rating[data-visible="false"] {
  display: none;
  opacity: 0;
}
.card--thanks[data-visible="true"] {
  display: grid;
}

.card--thanks[data-visible="false"] {
  display: none;
  opacity: 0;
}

@media screen and (min-width: 32.5em) {
  .card--thanks {
    gap: 1.5rem;
  }
}

.card__result {
  background-color: var(--Very-Dark-Blue);
  border-radius: 2rem;
  padding: 0.3rem 0.9rem 0.1rem 0.9rem;
  color: var(--Orange);
  display: flex;
}

.card__icon {
  border-radius: 50%;
  padding: 0.75rem;
  width: fit-content;
  background-color: var(--Very-Dark-Blue );
}

.card__title {
  font-weight: 700;
  margin-bottom: 0rem;
}

.card__text {
  margin-top: 0.75rem;
  color: var(--Light-Grey);
}

.card__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn {
  background-color: var(--Orange);
  color: var(--White);
  cursor: pointer;
  border: transparent;
  outline: transparent;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  text-transform: uppercase;
  transition: all 250ms ease;
  letter-spacing: .4ch;
  font-weight: 700;
}

.btn:hover{
  background: var(--White);
  color: var(--Orange);
  transition: all 250ms ease;
}

.btn:focus-visible {
  outline-color: var(--Orange);
  outline-offset: 2px;
}

.card__form--fieldset {
  border: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-form__label {
  width: 2.5rem;
  height: 2.5rem;
  padding-top: 0.2rem;
  border-radius: 50%;
  background-color: var(--Very-Dark-Blue);
  position: relative;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: all 250ms ease;
  color: var(--Light-Grey);
  font-size: 0.875rem;
}

.card-form__label:hover {
  background-color: var(--Orange);
  color: var(--White);
  transition: all 250ms ease;
}

@media screen and (min-width: 32.5em) {
  .card-form__label {
    width: 3.125rem;
    height: 3.125rem;
    font-size: 1rem;
  }
}

.card-form__input {
  appearance: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.card-form__label:has(.card-form__input:checked) {
  background-color: var(--Light-Grey);
  color: var(--White);
}
