/* Custom properties   */

:root {
    font-size: 62.5%;

    /* Primary colors  */
    --White: 0 0% 100%;
    --Gray-blue: 217 19% 35%;
    --Black-blue: 219 29% 14%;
    --Violet: 263 55% 52%;
    --Strawberry-red: 354 84% 57%;

    /*  Neutral colors */
    --Light-gray: 0, 0%, 81%;
    --Light-gray-blue:210, 46%, 95%;

    /* Font families */
    --ff-epilogue: 'Epilogue', sans-serif;
    --ff-Outfit: 'Outfit', sans-serif;
    --ff-Poppins: 'Poppins', sans-serif;
    --ff-Ubuntu: 'Ubuntu', sans-serif;
    --ff-barlow: 'Barlow Semi Condensed', sans-serif;

    /* Font weights */
    --fw-500: 500;
    --fw-600: 600;
  
    /* Font sizes */
    --fs-300: 1rem;
    --fs-400: 1.2rem;
    --fs-500: 1.6rem;
}

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }

   /* A elements that don't have a class get default styles */
   a:not([class]) {
    text-decoration-skip-ink: auto;
  }

/* make images easier to work with */
picture,
img {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}


/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* set up the body */
body {
    background-color: hsl(var(--White));
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
    font-size: 1.6rem;
    background-color: var(--Light-gray);
    font-family: var(--ff-epilogue);
    font-weight: var(--fw-500);
}

h1,
h2,
h3 {
  font-weight: var(--fw-600);
}

/* Utility Classes */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
  } 
.flow > *:where(:not(:first-child)) {
margin-top: var(--flow-spacer, 1em);
}


/* Background colors */
.bg-dark {background-color: hsl(var(--Black-blue));}
.bg-white {background-color: hsl(var(--White));}
.bg-gray {background-color: hsl(var(--Gray-blue));}
.bg-violet {background-color: hsl(var(--Violet));}
.bg-lightgray {background-color: hsl(var(--Light-gray));}
.bg-lightblue {background-color: hsl(var(--Light-gray-blue));}

/* Text color */
.txt-dark {color: hsl(var(--Black-blue));}
.txt-white {color: hsl(var(--White));}
.txt-gray {color: hsl(var(--Gray-blue));}
.txt-violet {color: hsl(var(--Violet));}
.txt-lightgray {color: hsl(var(--Light-gray));}
.txt-lightblue {color: hsl(var(--Light-gray-blue));}

/* typography */
.ff-barlow {font-family: var(--ff-barlow);}

.five{font-weight: 500;}
.six{font-weight: 600;}



/* ---------- Main ---------- */
body {
    display: grid;
    place-content: center;
}


 /* components */
 .testimonial-grid {
    display: grid;
    gap: 2rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
      'one'
      'two'
      'three'
      'four'
      'five'
    ;
    padding-block: 2rem;
    width: min(95%, 100rem);
    margin-inline: auto;
  }

  .testimonial {
    font-size: var(--fs-400);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--Gray-blue) / 0.3);
  }
  
  .testimonial:nth-child(1){
    grid-area: one;
  }
  .testimonial:nth-child(2){
    grid-area: two;
  }
  .testimonial:nth-child(3){
    grid-area: three;
  }
  .testimonial:nth-child(4){
    grid-area: four;
  }
  .testimonial:nth-child(5){
    grid-area: five;
  }

  @media (min-width: 30em) {

    .testimonial-grid{
      grid-template-areas: 
        'one one'
        'two five'
        'three five'
        'four four'
      ;
    }
  }

  @media (min-width: 50em) {

    .testimonial-grid{
      grid-template-areas: 
        'one one two five'
        'three four four five'
      ;
    }

    /* .grid-col-span-2{
      grid-column: span 2;
    }
    .testimonial-grid{
      grid-template-columns: repeat(4, 1fr);
    }
    .testimonial:last-child {
      grid-column-start: 4;
      grid-row: 1 / 3;
    } */
  }
  


  .testimonial.quote {
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
  }
  
  .testimonial img {
    width: 1.9rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  
  .testimonial .name {
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1;
  }
  
  .testimonial .position {
    font-size: var(--fs-300);
    opacity: 0.5;
  }
  
  .testimonial > p:first-of-type {
    font-size: var(--fs-500);
    line-height: 1.2;
  }
  
  .testimonial > p:last-of-type {
    opacity: 0.7;
  }
  


/* ----------- Footer ---------- */
.attribution {
    font-size: 1.3rem; 
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    cursor: default; 
    color: hsl(var(--Gray));
    font-weight: 500;
}
.attribution a {
    text-decoration: none;
    color: hsl(var(--Orange));
    font-weight: 500; 
}
.attribution a:hover {
    color: hsl(228, 45%, 44%); 
}