@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
@keyframes nav-entrance {
  0% {
    transform: translateY(150%);
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0);
    transform: translateX(0);
  }
}
@keyframes nav-exit {
  0% {
    transform: translateY(0);
    transform: translateX(0);
  }
  100% {
    transform: translateY(150%);
    transform: translateX(100%);
    transform: scale(0);
  }
}
@keyframes point-down {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  20%, 40%, 60%, 80% {
    transform: translateY(-5%);
    opacity: 1;
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(5%);
    opacity: 0.5;
  }
}
@font-face {
  font-family: "Barlow", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
}
@font-face {
  font-family: "Fraunces", serif;
  src: url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
}
body {
  display: grid;
  line-height: 1.5;
  min-height: 100vh;
  font-size: 1.8rem;
  overflow-x: hidden;
  grid-template-rows: 80vh 1fr auto;
  grid-template-rows: 80dvh 1fr auto;
}
@media (min-width: 64em) {
  body {
    grid-template-rows: 100dvh 1fr auto;
  }
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  background-image: url("../images/mobile/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 64em) {
  .header {
    background-image: url("../images/desktop/image-header.jpg");
  }
}
.header__logo {
  margin: 2rem;
  padding-block: 1rem;
}
.header .nav-links {
  margin: 2rem;
  padding: 1rem;
}
.header .mobile-nav-toggle {
  margin: 2rem;
  margin-top: 2.5rem;
}
@media (max-width: 63.99em) {
  .header .nav-links {
    background-color: hsl(0, 0%, 100%);
    padding-block: 5rem;
    padding-inline: 4rem;
  }
}

.arrow {
  animation: point-down 6s ease infinite;
}

.main__article {
  padding: 2.5rem;
  margin-block: 5rem;
}
.main .graphic-design {
  background: url("../images/mobile/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60rem;
  padding: 2rem;
}
.main .graphic-design h2 {
  margin-bottom: 2.5rem;
}
@media (min-width: 64em) {
  .main .graphic-design {
    background: url("../images/desktop/image-graphic-design.jpg");
  }
}
.main .photography {
  background: url("../images/mobile/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60rem;
  padding: 2rem;
}
.main .photography h2 {
  margin-bottom: 2.5rem;
}
@media (min-width: 64em) {
  .main .photography {
    background: url("../images/desktop/image-photography.jpg");
  }
}
.main__testimonials {
  padding: 2rem 2rem 10rem 2rem;
}
.main__testimonials .client-image {
  height: 6rem;
  border-radius: 50%;
  margin-bottom: 4rem;
}
.main__testimonials p {
  margin-bottom: 4rem;
}
.main__testimonials h3 {
  margin-bottom: 1rem;
}

.footer {
  background-color: hsl(168, 34%, 41%);
  padding-top: 4rem;
}
.footer__logo {
  margin-inline: auto;
}
.footer__links {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 0;
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.footer .attribution {
  margin-bottom: 1rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

:root {
  font-size: 62.5%;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* make images easier to work with */
picture,
img,
svg {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  line-height: 1.2;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  text-align: center;
}

h3 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

h2, h3, p {
  text-align: center;
}

h1 {
  font-size: clamp(1.8rem, 3rem + 2vw, 5rem);
  color: hsl(0, 0%, 100%);
}

h2 {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.3;
}

p {
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  color: hsl(210, 4%, 67%);
}

.main__article p {
  max-width: 40rem;
}

@media (min-width: 64em) {
  .main__article * {
    text-align: left;
  }
}

.learn {
  position: relative;
  font-weight: 900;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: hsl(212, 27%, 19%);
  font-size: 1.6rem;
}
.learn--yellow::after, .learn--red::after {
  position: absolute;
  content: "";
  z-index: -1;
  height: 1rem;
  display: block;
  inset: 1.5rem 0 0 0;
  border-radius: 1rem;
  width: calc(100% + 2rem);
  transform: translateX(-1rem);
  background-color: #fff7c7;
}
.learn--red::after {
  background-color: #ffd2cc;
}

.graphic-design h2 {
  font-size: 2.8rem;
  color: hsl(167, 40%, 24%);
}
.graphic-design p {
  color: hsl(167, 40%, 24%);
  font-size: 1.6rem;
  max-width: 35rem;
}

.photography h2 {
  font-size: 2.8rem;
  color: hsl(198, 62%, 26%);
}
.photography p {
  color: hsl(198, 62%, 26%);
  font-size: 1.6rem;
  max-width: 35rem;
}

.main__testimonials h2 {
  margin-top: 4rem;
  font-size: 1.6rem;
  color: hsl(210, 4%, 67%);
  text-transform: uppercase;
}
.main__testimonials p {
  color: hsl(213, 9%, 39%);
  max-width: 40rem;
}
.main__testimonials h3 {
  color: hsl(212, 27%, 19%);
  font-size: 1.8rem;
}
.main__testimonials span {
  font-size: 1.4rem;
  color: hsl(210, 4%, 67%);
  font-family: "Barlow", sans-serif;
}

.nav-links {
  font-size: 2rem;
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
  text-align: center;
}
.nav-links .contact {
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}
@media (min-width: 64em) {
  .nav-links {
    color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
  }
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.footer {
  background-color: hsl(167, 44%, 70%);
}
.footer__logo {
  filter: brightness(0) saturate(100%) invert(39%) sepia(14%) saturate(1477%) hue-rotate(115deg) brightness(94%) contrast(95%);
  width: 17rem;
}
.footer__links {
  font-family: "Barlow", sans-serif;
  color: hsl(168, 34%, 41%);
}
.footer .attribution {
  font-family: "Barlow", sans-serif;
  color: hsl(168, 34%, 41%);
  font-size: 1.2rem;
  text-align: center;
}

.toggle {
  grid-area: nav;
  border: 0;
  padding: 0;
  justify-self: end;
  width: 2.5rem;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
}
.toggle .line {
  height: 0.2rem;
  width: 100%;
  background-color: white;
  transition: 250ms ease;
}
.toggle .top[data-active=true] {
  transform: translateY(0.4rem) rotate(45deg);
}
.toggle .mid[data-active=true] {
  display: none;
}
.toggle .bottom[data-active=true] {
  transform: translateY(-0.4rem) rotate(-45deg);
}
@media (min-width: 64em) {
  .toggle {
    display: none;
  }
}

.header__nav {
  grid-area: nav;
}
.header__nav__heading {
  grid-area: title;
}
.header__nav__anchor {
  grid-area: cta;
}

.nav-links {
  display: flex;
  gap: clamp(1.5rem, 5vw, 3.5rem);
  background: transparent;
  position: relative;
  transition: 250ms ease;
  justify-content: flex-end;
}
.nav-links .contact {
  background-color: white;
  padding-inline: 2.8rem;
  padding-block: 1.8rem;
  border-radius: 5rem;
  transition: 200ms ease;
}
.nav-links .contact:hover {
  background-color: #9cd1e8;
  color: hsl(0, 0%, 100%);
}
@media (max-width: 63.99em) {
  .nav-links {
    flex-direction: column;
    gap: 3rem;
    position: absolute;
    inset: 15vh 0 0 0;
    margin-inline: auto;
    height: fit-content;
    width: calc(100% - 4.5rem);
    z-index: 2;
  }
  .nav-links .contact {
    background-color: hsl(51, 100%, 49%);
  }
  .nav-links[data-visible=false] {
    opacity: 0;
    transform: scale(0);
    transform: translateY(-150%);
  }
  .nav-links[data-visible=true] {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }
  .nav-links::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 3rem 3rem;
    border-color: transparent transparent white transparent;
    inset: -3rem 0 auto auto;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: "logo nav" "title title" "cta cta";
}
.header__logo {
  grid-area: logo;
  height: fit-content;
}
.header__nav {
  grid-area: nav;
  height: fit-content;
}
.header__anchor {
  grid-area: cta;
  justify-self: center;
}
.header__heading {
  grid-area: title;
  margin-top: 7rem;
}

.main {
  display: grid;
  grid-template-rows: 1fr auto auto;
}
@media (min-width: 64em) {
  .main__showcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "one two" "three four" "five six";
  }
  .main__showcase .main__article:nth-of-type(1) {
    margin: 0;
    grid-area: one;
  }
  .main__showcase .main__article:nth-of-type(2) {
    margin: 0;
    grid-area: four;
  }
}
.main__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
@media (max-width: 56.25em) {
  .main__article .article__heading {
    padding-inline: 2rem;
  }
}
.main__article .learn {
  align-self: center;
}
@media (min-width: 64em) {
  .main__article .learn {
    align-self: start;
  }
}
@media (min-width: 64em) {
  .main__article {
    align-items: center;
    justify-content: center;
    padding: 10rem;
  }
}
.main__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 64em) {
  .main__gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
.main .service {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.main .service p {
  margin-bottom: 5rem;
}
.main__testimonials {
  display: grid;
  gap: 7rem;
}
@media (min-width: 64em) {
  .main__testimonials {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
  }
  .main__testimonials h2 {
    grid-column: span 3;
  }
}
.main .testimonial__card {
  display: grid;
  place-items: center;
}

.footer {
  display: grid;
  place-content: center;
  gap: 6rem;
}/*# sourceMappingURL=main.css.map */