/* Custom properties   */

:root {
    font-size: 62.5%;

    /* Primary colors  */
    --White: 0 0% 98%;
    --Gray: 0 0% 41%;
    --Black: 0 0% 8%;
    --Strawberry-red: 354 84% 57%;

    /* Font families */
    --ff-epilogue: 'Epilogue', sans-serif;
    --ff-Outfit: 'Outfit', sans-serif;
    --ff-Poppins: 'Poppins', sans-serif;
    --ff-Ubuntu: 'Ubuntu', sans-serif;
}


/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* make images easier to work with */
picture,
img {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* set up the body */
body {
    background-color: hsl(var(--White));
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: var(--ff-epilogue);
}
a{
    text-decoration: none;
    color: hsl(var(--Gray));
}
/* Utility Classes */

/* Background colors */
.bg-dark {background-color: hsl(var(--Black));}
.bg-white {background-color: hsl(var(--White));}
.bg-gray {background-color: hsl(var(--Gray));}

/* Text color */
.txt-dark {color: hsl(var(--Black));}
.txt-white {color: hsl(var(--White));}
.txt-gray {color: hsl(var(--Gray));}

/* typography */
.ff-epilogue {font-family: var(--ff-epilogue);}
.ff-ubuntu {font-family: var(--ff-Ubuntu);}
.ff-poppins {font-family: var(--ff-Poppins);}
.ff-outfit {font-family: var(--ff-Outfit);}

.four{font-weight: 400;}
.five{font-weight: 500;}
.seven{font-weight: 700;}

.txt-center{
    text-align: center;
}
.flex {
    display: flex;
    gap: 1rem;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-right {
    align-self: flex-end;
}
.block{
    display: block;
}
.hidden{
    display: none;
}

/* ---------- Navigation ---------- */
.mobile-nav-toggle {
    display: none;
}
.primary-header {
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    margin-inline: 2rem;
    background-color: hsl(var(--White));
}
.primary-nav {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    background: hsl( var(--White)); 
    width: 100%;
    justify-content: space-between;
    align-items: center;   
    font-size: 1.5rem;
}
.logo-cover{
    padding-top: .5rem;
    display: inline-block;
}
.right{
    align-items: center;
}

.nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 4rem;
}

/* ---------- Drop down ---------- */
.drop-menu{
    position: relative;
}
.icon-menu{
    background: transparent;
    border: none;
    color: hsl(var(--Gray));
    display: flex;
    gap: .5rem;
    padding: 0;
    align-items: center;
}
.icon-menu:hover{
    color: hsl(var(--Black));
    cursor: pointer;
}
.features-menu:before {
    content: "Features";
    display: flex;
}
.company-menu:before {
    content: "Company";
    display: flex;
}

/* js conditional */
.arrow[aria-expanded="true"] {
    transition: all 250ms ease-in-out;
    transform: rotateZ(180deg);
    color: hsl(var(--Black));
}
.arrow[aria-expanded="false"] {
    transition: all 250ms ease-in-out;
    transform: rotateZ(0);
}
.todo::before{
    content: url(images/icon-todo.svg);
}
.calendar::before{
    content: url(images/icon-calendar.svg);
}
.reminder::before{
    content: url(images/icon-reminders.svg);
}
.planning::before{
    content: url(images/icon-planning.svg);
}

.features,
.company {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    list-style: none;
    border-radius: 1rem;
    background-color: hsl( var(--White));
    box-shadow: 0 0 3rem .1rem hsl(var(--Gray) /.3);
}
.features{
    justify-content: space-between;
    width: 13rem;
    height: 15rem; 
    left: -6rem; 
    padding: 2rem; 
}
.features[aria-expanded="false"] {
   transform: translateY(-100%); 
   z-index: -1;
   opacity: 0;
   transition: all 200ms linear;
}

.features[aria-expanded="true"] {
    transform: translateY(2rem);
    z-index: 1;
    transition: all 200ms linear;
}
.company {
    justify-content: space-between;
    padding: 1.5rem;
    width: 10rem;
    height: 11rem;
}
.company[aria-expanded="false"] {
    transform: translateY(-100%); 
    z-index: -1;
    transition: all 200ms linear;
 }
.company[aria-expanded="true"] {
    transform: translateY(2.5rem);
    z-index: 1;
    transition: all 200ms linear;
 }
.features-list {
    display: flex;
    gap: 1rem;
    align-items: center;
}
/* ----- dropdown end ----- */


.register{
    border: .1rem solid hsl(var(--Gray));
    padding-block: .8rem;
    padding-inline: 2rem;
    border-radius: 1rem;
}
.register-link:hover {  
    color: var(--Black);
}


/* ---------- Layout ---------- */
.container {
    border: .2rem solid hsl(var(--Strawberry-red)); 
    min-width: 50rem;
    margin-block: 4rem;
    margin-inline: 10rem;
}
.content{
   flex: 1 1 60%; 
   border: .2rem solid hsl(var(--Strawberry-red));
}
.content{
    flex-direction: column;
    justify-content: center; 
    padding: 5rem;  
}
.side{
    flex: 1 0 40%;
    border: .2rem solid hsl(var(--Strawberry-red));   
}
.side img{
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}
.clients{
    border: .2rem solid hsl(var(--Strawberry-red));
    align-items: flex-end;
    flex-wrap: wrap; 
    gap: 4rem;
}

h1 {
   
    font-size: 8rem;
    line-height: 1;

}
p {
    font-size: 1.8rem;
}
.learn{
    background-color: hsl(var(--Black));
    border-radius: 1rem;
    padding-block: 1rem;
    padding-inline: 2rem;
    color: hsl( var(--White));
    align-self: flex-start;
}
.learn:hover {
    background-color: hsl( var(--White));
    color: hsl(var(--Black));
    border: .1rem solid hsl(var(--Black));
    font-weight: 500;
}

/* ---------- Footer ---------- */
.attribution {
    font-size: 1.3rem; 
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    cursor: default; 
    color: hsl(var(--Gray));
    font-weight: 500;
}
.attribution a {
    text-decoration: none;
    color: hsl(var(--Black));
    font-weight: 500; 
}
.attribution a:hover {
    color: hsl(228, 45%, 44%); 
}




/* --------- Mobile Nav ---------- */
@media (min-width: 100rem) {
    .primary-header{
        margin-inline: 13rem;
    }
    .container{
        margin-block: 5rem;
        margin-inline: 20rem;
    }
}

@media (max-width: 48rem){
   
    .container{
        flex-direction: column;
        min-width: fit-content;
        height: 100vh;
    }
    h1{
        font-size: 4rem;
    }
    p{
        padding: 2rem;
    }
    .side{
        order: 0;
    }
    .content{
        order: 1;
        padding: 0;
        gap: 0;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: fit-content;
    }
    .learn{
        align-self: center;
    }
    .primary-header{
        margin: 0;
    }
    .primary-nav {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 400ms ease-in-out;
    }

    /* JS conditional */
    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }
    
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 200;
        right: 2rem;
        top: 2.5rem;
        background: transparent;
        background-image: url(images/icon-menu.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 2.5rem;
        height: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }

    /* JS conditional */
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(images/icon-close-menu.svg);
        transition: .3s ease-in;
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }
  
}

@media (max-width: 37.5rem) {
    .container{
        margin: 0;
        padding: 0;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
        
    }
    .attribution{
        display: none;
    }
    .clients{  
        gap: 0;
        flex-direction: row;
    }
}






