
    // ----- Primary colors ----- //
    $Yellow: 51 100% 49%;
    $Soft-red: 7 99% 70%;
    $Dark-blue: 198 62% 26% ; // photography text
    $Dark-moderate-cyan: 168 34% 41%; // footer
    $Dark-desaturated-cyan: 167 40% 24%; // graphic design text

    // ----- Neutral ----- //
    $White: 0 0% 100%;
    $Grayish-blue: 210 4% 67%;
    $Dark-grayish-blue: 232 10% 55%;
    $Very-dark-grayish-blue: 213 9% 39%;
    $Very-dark-desaturated-blue: 212 27% 19%;

