.skeleton-card {
   overflow: hidden;
   @apply w-full shadow-lg rounded-md bg-White dark:bg-DarkBlue transition duration-300;
}

.skeleton-flag {
   @apply h-[199px] md:h-[160px];
}

.skeleton-content {
   padding: 1.5rem;
}

.skeleton-name {
   width: 6.875rem;
   height: 1.25rem;
   margin-bottom: 2rem;
}

.skeleton-stats {
   display: grid;
   gap: 0.5rem;
}

.skeleton-stat {
   height: 1rem;
}

.skeleton {
   overflow: hidden;
   position: relative;
   border-radius: 0.125rem;
   background: var(
      --Skeleton-Content
   ); /* refer to index.css to see color combination */
   background-size: 200% 100%;
   animation: beat 3s infinite;
}

/* country details skeleton */
.skeleton-image {
   @apply w-full h-[240px] sm:h-[279px] md:h-[390px] rounded-md shadow-md; 
}

.name {
   width: 70%;
   height: 2rem;
   margin-bottom: 1rem;
}

.skeleton-text {
   width: 90%;
   height: 1.75rem;
   margin-bottom: 1rem;
}

.skeleton-label {
   @apply w-40 sm:w-32;
   height: 2rem;
   border-radius: 0.125rem;
   margin-bottom: 0.5rem;
}

.border-country {
   border-radius: 0.125rem;
   width: 6.875rem;
   height: 1.5rem;
}


/* load animations  */
.skeleton::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(
      90deg,
      transparent,
      var(--Skeleton-Content),
      transparent
   );
   background-size: 200% 100%;
   animation: load 1.5s infinite;
}

@keyframes load {
   0% {
      background-position: 200%;
   }
   100% {
      background-position: -200%;
   }
}

@keyframes beat {
   0% {
      opacity: 100%;
   }
   50% {
      opacity: 50%;
   }
   100% {
      opacity: 100%;
   }
}
