.skeleton-card {
   overflow: hidden;
   @apply w-full shadow-lg rounded-md bg-White dark:bg-DarkBlue transition duration-300;
}

.skeleton-flag {
   @apply h-[199px] md:h-[160px];
}

.skeleton-content {
   padding: 1.5rem;
}

.skeleton-name {
   width: 6.875rem;
   height: 1.25rem;
   margin-bottom: 2rem;
}

.skeleton-stats {
   display: grid;
   gap: 0.5rem;
}

.skeleton-stat {
   height: 1rem;
}

.skeleton {
   border-radius: 0.125rem;
   background: var(--Skeleton-Content); /* refer to index.css to see color combination */
   background-size: 200% 100%;
   animation: beat 3s infinite;
}

@keyframes loading {
   0% {
      background-position: 200%;
   }
   100% {
      background-position: -200%;
   }
}

@keyframes beat {
   0% {
      opacity: 100%;
   }
   50% {
      opacity: 50%;
   }
   100% {
      opacity: 100%;
   }
}
