:root{
    //primary
    --Moderate-cyan: 176 50% 47%;
    --Dark-cyan: 176 72% 28%;
    --Strawberry-red: 354 84% 57%;
    
    //  Neutral
    --Black: 0 0% 0%;
    --White: 0 0% 100%;
    --Gray: 0 0% 98%;
    --Dark-gray: 0 0% 48%;
    --Light-gray: 0 0% 90%;

}